.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
    flex-wrap: wrap;
    gap: 40px;
}

.title {
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
    padding: 15px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 200px;
    row-gap: 26px;
    grid-template-areas:
    "picture experience"
    "about experience";
}
.btnContainer {
    user-select: none;
    margin-top: 20px;
}

.experience {
    color: var(--text-color);
    grid-area: experience;
    background-color: var(--container-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
}

.picture {
    grid-area: picture;
    color: var(--text-color);
    min-width: 340px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    line-height: 1.8rem;
    grid-area: about;
    color: var(--text-color);
    padding: 15px;
    text-align: center;
    max-width: 420px;
}

.blob {
    border-radius: 41% 59% 50% 50% / 33% 45% 55% 67%;
    width: 300px;
    height: 300px;
    background: var(--dark-blue-color);
    animation: morph 10s linear infinite;
}



@media only screen and (max-width: 960px) {
    .container {
        min-height: 950px;
        display: flex;
        flex-direction: column;
    }

    .experience {
        min-height: 700px;
    }

    .picture {
        color: var(--text-color);
    }

    .about {
    }
}

@keyframes morph {
    0%, 100% {
        border-radius: 69% 31% 30% 67% / 72% 47% 40% 26%;
    }
    34% {
        border-radius: 63% 37% 36% 64% / 51% 45% 55% 49% ;
    }
    67% {
        border-radius: 48% 52% 64% 36% / 30% 30% 70% 70% ;
    }
}



