.wrapper {
  user-select: none;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--bg-color);
  transition: var(--transition);
  padding: 0 20px;
}

.btnContainer {
  user-select: none;
  margin-top: 20px;
}

.welcome {
  padding-top: 50px;
  color: var(--text-color);
  width: 100%;
  padding-left: 16px;
  text-align: left;
}
.welcome > * {
  text-align: left;
}
.welcome h1 {
  margin-left: -2px;
  font-size: clamp(3rem, 5vw, 3.5rem);
  font-weight: 600;
}
.welcome h2 {
  font-size: clamp(3rem, 5vw, 3.5rem);
  font-weight: 600;
  background-image: var(--gradient);
  box-shadow: var(--gradient);
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
  
}
.welcome h3 {
  display: inline-block;
  font-weight: 400;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  max-width: 50ch;
}

.photo {
  color: var(--text-color);
  min-width: 340px;
  flex-direction: row;
}

.blob {
  width: 200px;
  fill: var(--primary-color);
}

.profilePicture {
  width: 170px;
}

@media only screen and (max-width: 800px) {
  .links {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    margin-top: 18px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    min-height: calc(100vh - 80px);
    top: 0;
    gap: 0;
  }
  .welcome {
    padding-top: 5vw;
  }
}
@media only screen and (max-width: 540px) {
  .welcome > h1, h2 {
    line-height: 0.9em;
  }

}
@media only screen and (max-width: 400px) {
  .photo {
    min-width: 90%;
  }
}
