.headerOpen {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 190px;
    background-color: var(--bg-color);
    z-index: 1;
    transition: ease 0.5s;
}
.headerClose {
    position: fixed;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: var(--bg-color);
    z-index: 1;
    transition: ease 0.5s;
}
.header > * {
    width: 100%;
    height: 100%;
}
.mobileMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
    z-index: 2;
}
.btnWrapper {
    display: flex;
    flex-direction: row-reverse;
}
.title {
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
}
.menuBtn {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--bg-color);
    transition: ease 0.5s;
}

@media only screen and (max-width: 750px) {
    .mobileMenu {

    }
}