@font-face {
  font-family: 'Calibre';
  src: local('Calibre Regular'), local('Calibre-Regular'),
  url('./../src/assets/fonts/Calibre-Regular.woff2') format('woff2'),
  url('./../src/assets/fonts/Calibre-Regular.woff') format('woff'),
  url('./../src/assets/fonts/Calibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre Bold'), local('Calibre-Bold'),
  url('./../src/assets/fonts/Calibre-Bold.woff2') format('woff2'),
  url('./../src/assets/fonts/Calibre-Bold.woff') format('woff'),
  url('./../src/assets/fonts/Calibre-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Palette */
  --white-color: #fff;
  --black-color: #000;
  --very-light-color: #f1f5f6;
  --light-gray-color: #e1e1e1;
  --dark-grey-color: #262626;
  --very-dark-grey-color: #1c1c1c;
  --blue-color: #5095bf;
  --dark-blue-color: #416ca6;
  --orange-color: #B45C2D;
  --green-color: #2F8722;
  --gradient: linear-gradient(45deg, #EA047E, #FF6D28, #FCE700, #00F5FF);
  --container-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
  --bottom-shadow: 0 -2px 8px rgba(0, 0, 0, 0.35);
  --upper-shadow: 0 -4px 4px rgba(0, 0, 0, 0.04);
  --active-shadow: 0 0px 8px rgb(80, 149, 191);
  --transition: ease 0.2s;

  /* App Theme */
  --primary-color: var(--blue-color);
  --destructive-color: var(--orange-color);
  --success-color: var(--green-color);
  --text-on-light-bg-color: var(--black-color);
  --text-on-dark-bg-color: var(--white-color);
  --font: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-monospace: "Source Code Pro", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

* {
  font-family: var(--font);
}

html {
  scroll-behavior: smooth;
}
.App {
  --bg-color: var(--white-color);
  --container-color: var(--very-light-color);
  --text-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  width: 100%;
  transition: var(--transition);
}
.dark {
  --bg-color: var(--very-dark-grey-color);
  --container-color: var(--dark-grey-color);
  --text-color: var(--white-color);
  background-color: var(--bg-color);
}

.body_container {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 80px;
  width: 100%;
}
.body_container > * {
  transition: var(--transition);
}
.button {
  border-radius: 8px;
  padding: 17px 15px 12px 15px;
  border: 3px solid var(--primary-color);
  color: var(--text-color);
  background: transparent;
  box-shadow: var(--container-shadow);
  cursor: pointer;
  transition: var(--transition);
}

button:disabled {
  background-color: var(--bg-color);
}
button:disabled:hover {
  background-color: var(--bg-color);
}
button:hover {
  border-radius: 12px;
  color: var(--text-color);
  box-shadow: var(--active-shadow);
}
button:active {
  transform: scale(0.95);
}
.shadowBottom {
  box-shadow: var(--bottom-shadow);
}
.shadowUp {
  box-shadow: var(--upper-shadow);
}
.hidden {
  opacity: 0;
}
.cursor {
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: gray;
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--destructive-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

@media only screen and (max-width: 750px) {
  .App {
    padding-bottom: 40px;
  }
}
