.mainContainer {
  width: 480px;
  height: 372px;
  border-radius: var(--radius);
  background: var(--container-color);
  overflow: hidden;
  box-shadow: var(--container-shadow);
  display: flex;
  flex-direction: column;
}
.tab {
  list-style: none;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  width: 100%;
  border-radius: calc(var(--radius)/1.5) calc(var(--radius)/1.5) 0 0;
  padding: 10px 15px;
  position: relative;
  background: var(--container-color);
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  color: var(--text-color);
}
.selected {
  composes: tab;
  background: var(--bg-color);
}
.tabGroup {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  width: 100%;
}
.tabGroupContainer {
  padding: 5px 5px 0;
  border-radius: var(--radius) var(--radius) 0 0;
  height: 44px;
}
.content {
  padding: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  flex-grow: 1;
  color: var(--text-color);
  position: relative;
}
.content p {
  text-align: justify;
  line-height: 1em;
  white-space: pre-line;
  display: inline-block;
}
.indicator {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--primary-color);
}
@media only screen and (max-width: 530px) {
  .mainContainer {
    width: 90vw;
    height: 380px;
  }
  .content {
    padding: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .mainContainer {
    width: 100%;
    height: 400px;
  }
  .tab {
    padding: 15px 8px;
  }
  .content {
    padding: 25px 8px;
  }
}